FROM centos:7

RUN yum update -y \
&& yum install sudo -y \
&& yum install nginx -y \
&& systemctl enable nginx.service

# COPY images /usr/share/nginx/html
# COPY index.html /usr/share/nginx/html

ENTRYPOINT /usr/sbin/init

EXPOSE 80
